.list {
  max-height: 600px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.list::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  border: none;
  background: #8585AD;
}

.item {
  display: flex;
  align-items: center;
}

.sum {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sum svg {
  width: 36px;
  height: auto;
  margin-left: 8px;
}

.sum span {
  display: inline-flex;
  align-items: center;
}