.modal {
  background: #1C1C21;
  border-radius: 40px;
  width: 720px;
  position: relative;
  box-sizing: border-box;
}

.header {

}

.close_icon {
  position: absolute;
  top: 60px;
  right: 40px;
}