.link {
  display: flex;
  align-items: center;
}

.link_container {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
}